@font-face {
    font-family: "ElMessiri";
    src: url("/fonts/ElMessiri-Regular.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "MuseoCyrl-100";
    src: url("/fonts/MuseoCyrl100.otf");
    font-weight: 100;
}

@font-face {
    font-family: "MuseoCyrl-300";
    src: url("/fonts/MuseoCyrl300.otf");
    font-weight: 300;
}

@font-face {
    font-family: "MuseoCyrl-500";
    src: url("/fonts/MuseoCyrl500.otf");
    font-weight: 500;
}

@font-face {
    font-family: "MuseoCyrl-700";
    src: url("/fonts/MuseoCyrl700.otf");
    font-weight: 500;
}

@font-face {
    font-family: "MuseoCyrl-900";
    src: url("/fonts/MuseoCyrl900.otf");
    font-weight: 500;
}

:root {
    --primary-color: #000;
    --primary-color-1: #000;
    --secondary-color: #000;
    --third-color: #000;

    --grey-color: #e2e2e2;
    --grey-darker-color: #c4c4c4;
    --grey-lighter-color: #e8e8e8;
    --grey-1: #ebebeb;
    --grey-2: #d4d4d4;
    --grey-3: #a6a6a6;
    --grey-4: #c5c5c5;

    --font-100: "MuseoCyrl-100";
    --font-300: "MuseoCyrl-300";
    --font-500: "MuseoCyrl-500";
    --font-700: "MuseoCyrl-700";
    --font-900: "MuseoCyrl-900";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-500);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

input,
textarea {
    outline: none;
}

button {
    border: none;
    background-color: transparent;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

.main_container {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1686px;
    margin: 0 auto;
}

.heading {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 2.5rem;
    font-family: var(--font-900);
    text-transform: uppercase;
    margin-left: 35px;
    padding-left: 22px;
    border-left: 3px solid #000
}

.heading::after {
    display: flex;
    flex: 1;
    content: "";
    box-sizing: border-box;
    height: 1px;
    background: #c4c4c4;
    border: solid #fff;
    border-width: 0 0 0 10px;
}

.btn_more {
    padding: 25px 65px;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 19.03px;
}

.btn_all {
    display: inline-flex;
    justify-content: space-between;
    align-self: flex-end;
    border: 4px solid var(--grey-darker-color);
    padding: 24px 27px;
    font-size: 2rem;
    font-family: var(--font-900);
    text-transform: uppercase;
    color: #000;
}

.btn_all span {
    margin-right: 104px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

button[data-action="stop"] {
    display: none;
}

.main {
    margin-top: 75px;
    overflow-x: hidden;
}

.main_inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0 15px;
}

.sidebar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    margin-right: 60px;
    flex-shrink: 0;
}

.sidebar .heading {
    margin-left: 0;
}

.sidebar_banner_link {
    display: flex;
    margin: 50px auto 20px auto;

}

.sidebar_banner_img {
    max-width: 100%;
    max-height: 200px;
    background-size: cover;
}

.sidebar_menu_list {
    margin-top: 35px;
    background-color: var(--grey-1);
}

.sidebar_menu_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding: 15px 20px;
}

.sidebar_menu_item:not(:last-child) {
    border-bottom: 2px solid var(--grey-2);
}

.sidebar_menu_item:hover {
    background-color: #000;
}

.sidebar_menu_item:hover .sidebar_menu_link {
    color: #fff;
}

.sidebar_menu_item:hover .sidebar_submenu_icon {
    background-color: #fff;
}

.sidebar_menu_link {
    display: inline-flex;
    color: #000;
    font-family: var(--font-500);
    font-size: 2rem;
}

.sidebar_submenu_list {
    margin-top: 0;
    margin-left: 10px;
}

.sidebar_submenu_icon {
    flex-shrink: 0;
    height: 12px;
    width: 8px;
    background-color: #000;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    margin-left: 15px;
}

.sidebar_submenu_icon_down {
    height: 8px;
    width: 12px;
    background-color: #000;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    margin-left: 15px;
}

/* .sidebar_menu_item > .sidebar_menu_list {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 999;
    display: none;
} */

.content {
    flex: 1;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 450px;
    margin: 50px auto;
    font-size: 2rem;
}

.pagination li:hover {
    cursor: pointer;
}

.pagination li:not(:first-child):not(:last-child):not(.disabled):hover {
    background-color: #c4c4c4;
}

.pagination li:not(:first-child):not(:last-child):not(.disabled):hover a,
.pagination li:not(:first-child):not(:last-child):not(.disabled):hover span {
    color: #fff;
}

.pagination li img {
    width: 10px;
}

.pagination li a,
.pagination li span {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #000;
    font-family: var(--font-500);
    padding: 10px;
    width: 50px;
    justify-content: center;
}

.active {
    background-color: #000;
}

.pagination .active a,
.pagination .active span {
    color: #fff;
}

#slideshow {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 35px;
}

#slideshow a {
    display: flex;
    justify-content: center;
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all 0.2s;
}

#slideshow a:nth-child(3n) {
    margin-right: 0;
}

#slideshow a img {
    max-width: 100%;
    background-size: cover;
    transition: all 0.3s;
}

#slideshow a:hover img {
    transform: scale(1.2);
}

.question {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.question_list {
    margin-top: 37px;
}

.question_item {
    background-color: var(--grey-1);
    border-bottom: 1px solid var(--grey-2);
}

.question_item:last-child {
    border-bottom: none;
}

.question_item:hover {
    background-color: #000;
}

.question_item:hover .question_link {
    color: #fff;
}

.question_item:hover .question_text {
    border-left-color: #fff;
}

.question_link {
    display: flex;
    width: 100%;
    padding: 24px 13px;
    font-size: 2rem;
    font-family: var(--font-500);
    color: #000;
}

.question_text {
    margin-left: 8px;
    padding-left: 14px;
    border-left: 3px solid #000;
}

.question_ask {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 28px;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: var(--font-500);
    color: #000;
}

.question_ask::before {
    display: flex;
    flex: 1;
    content: "";
    box-sizing: border-box;
    height: 1px;
    background: #c4c4c4;
    border: solid #fff;
    border-width: 0 21px 0 0;
}

.d-none {
    display: none;
}

.d-initial {
    display: initial;
}
